.DTbody{
    // border: solid yellow 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   width:100%;
    max-width: 1440px;

    margin:auto;
    overflow-y: hidden;
}

.datatable{
    //  border: solid blue 1px;
    width: 90%;
    
    
}

.ontopoftable{
    // border:solid red 1px;
    display: flex;
    justify-content: space-between;
    
    width: 100%;
}

.selectshow{
    margin:0.4rem;
}


.homelink{
    margin-top: 3rem;
    font-size: large;
    font-weight: bolder;
    text-decoration: none;
    color: aqua;
}

